.contacts{
  height: 100%;     
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:3rem;
  color:#084c55;
  background-image: url('https://media.istockphoto.com/videos/blue-sky-full-of-clouds-moving-right-to-left-cartoon-sky-animated-video-id1215291953?b=1&k=20&m=1215291953&s=640x640&h=EJ1SqutO8v3QcubwOwJScv2nkcoJGEBQAeCYBry6IPE=');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px #51b9c783;
}
.info{
    display:flex;
    flex-direction: column;
    align-items: center;
}
h2{
    padding-bottom: 1.5rem;
    font-size: 2rem;
}
p{
    line-height: 35px;
    font-size: 1.4rem;
}
ul{
    font-size: 1.4rem;
    line-height: 35px;
}
.info > ul > li{
    list-style: none;
    background-color: #084c55;
    color: #fff;
    margin: 1rem;
    line-height: 20px;
    border-radius: 10px;
}

/* contact-form*/
.contact__form{
    display:flex;
    flex-direction: column;
    margin-top: 2rem;
    width:80%;
    padding: 2rem;
    border: 2px double #084c55;
}
h3{
    text-align: center;
    font-size: 2rem;
}
label{
    padding:10px 0;
}
input{
 padding: 5px 0;
}
.contact__btn{
    margin-top: 1.3rem;
}
.contact__btn > button{
    background-color: #E7BB41;
    color:#084c55;
    padding: 0.8rem 1.4rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.contact__btn > button:hover{
    background-color: #084c55;
    color:#fff;
    transition: transform .7s ease-in;
}
@media screen and (min-width: 960px){
    .info{
        margin: 0 7rem;
    }
    p{
        margin: 0 1rem;
    }
    ul{
      display: flex;
    }
    .info > ul > li{
       padding: 1rem 2.5rem;
    }
    .contact__form{
        width:40%;
    }
    label{
        padding:0.8rem 0;
        text-align: center;
    }
    .contact__btn{
        text-align: center;
    }
}



