.slider {
  position: relative;
  height: 90vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  
}

.image {  
  border-radius: 10px;
  margin-left: 15rem;
  
}
.product__name{
  position:absolute;
  top:0;
  right:12rem;
}
.product__details{
position: absolute;
top:0;
right:2rem;
padding-top: 3rem;
font-size: 1rem;
line-height: 1.6rem;
color:#084c55;
width: 25rem;
height: 21rem;


}

.right-arrow {
  position: absolute;
  top: 50%;
  right: -8rem;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 8rem;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media only screen and (max-width: 1200px){
  .slider{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: -8rem;
    margin-bottom: 8rem;
  }
  .image{
    margin:0;
    box-shadow: 4rem 5rem #64a3aca9;
  }
  .product__name{
    color:#fff;
    position:absolute;
    top:15.5rem;
    right:4rem;
    z-index: 2;
  }
  .product__details{
    position:absolute;
    top:15rem;
    right:-2rem;
    background-color: #084c55da;
    color:#fff;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    
  }
}